# Exclude configuration files
.env* export-ignore
.gitignore export-ignore
.gitattributes export-ignore
docker-compose.yml export-ignore
docker-compose.override.sample.yml export-ignore
README.md export-ignore
package.json export-ignore
package-lock.json export-ignore
playwright.config.js export-ignore

# Exclude specific directories
.github export-ignore
docs export-ignore
docker export-ignore
bin export-ignore
docker-entrypoint-init.d export-ignore
.docker export-ignore
.github export-ignore
tests-e2e export-ignore

# Exclude scripts
*.sh export-ignore