# Exclude configuration files
.env* export-ignore
.gitignore export-ignore
.gitattributes export-ignore

# Exclude specific directories
.github export-ignore
docs export-ignore
docker export-ignore
bin export-ignore