.idea
vendor
docker-compose.override.yml
.composer_cache
.env
default.vcl
id_rsa
.magento-src
.vscode

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# PHP Binaries
bin/php/*
!bin/php/install
!bin/php/composer.json
!bin/php/README.md

# MacOS
.DS_Store

*.gz