parameters:
    level: 9
    errorFormat: table
    treatPhpDocTypesAsCertain: false
    stubFiles:
        - bin/phpstan-bin/stubs/Zend_Db_Select.php
    paths:
        - registration.php
        - .docker/magento/HelperModule/Sequra/Helper/
        - Api/
        - Block/
        - Console/
        - Controller/
        - DataAccess/
        - Gateway/
        - Helper/
        - i18n/
        - Model/
        - Observer/
        - Plugin/
        - Repository/
        - ResourceModel/
        - Services/
        - Setup/
        - Ui/