<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 SeQura Engineering. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sequra>
            <core>
                <merchant_ref>dummy</merchant_ref>
                <user_name>dummy</user_name>
                <user_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted">ZqbjrN6bhPYVIyram3wcuQgHUmP1C4</user_secret>
                <assets_key>ADc3ZdOLh4</assets_key>
                <autoinvoice>0</autoinvoice>
                <test_ip>127.0.0.1,54.76.175.81</test_ip>
                <endpoint>1</endpoint>
                <reporting>1</reporting>
                <reportingtime>4</reportingtime>
                <allowspecificstattypes>0</allowspecificstattypes>
                <order_status>processing</order_status>
            </core>
        </sequra>
    </default>
</config>
