<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <mode>
                <storefront_checkout_index_index>
                    <report_only>1</report_only>
                </storefront_checkout_index_index>
            </mode>
        </csp>
        <payment>
            <sequra_payment>
                <debug>1</debug>
                <active>1</active>
                <title>SeQura</title>
                <checkout_title>SeQura</checkout_title>
                <showlogo>1</showlogo>
                <model>SequraPaymentGatewayFacade</model>
                <is_gateway>1</is_gateway>
                <can_order>1</can_order>
                <can_use_checkout>1</can_use_checkout>
                <can_capture>1</can_capture>
                <can_use_for_multishipping>0</can_use_for_multishipping>
                <can_capture_partial>0</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
            </sequra_payment>
        </payment>
    </default>
</config>