<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 SeQura Engineering. All rights reserved.
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Configuration reader -->
    <virtualType name="SequraGatewayConfig" type="Sequra\Core\Model\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Sequra\Core\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <type name="Sequra\Core\Model\Ui\ConfigProvider">
       <arguments>
           <argument name="config" xsi:type="object">SequraGatewayConfig</argument>
       </arguments>
    </type>

    <!-- Logger, initialized with SequraGatewayConfig -->
    <virtualType name="SequraGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">SequraGatewayConfig</argument>
        </arguments>
    </virtualType>

    <preference for="Sequra\Core\Api\SubmissionInterface" type="Sequra\Core\Model\Service\SubmissionService"/>

    <!-- Commandline option to triggerrerport -->
    <type name="Magento\Framework\Console\CommandList">
       <arguments>
           <argument name="commands" xsi:type="array">
               <item name="triggerReport" xsi:type="object">Sequra\Core\Console\TriggerReport</item>
           </argument>
       </arguments>
    </type>
    <virtualType name="SequraGatewayCurrencyValidator" type="Sequra\Core\Gateway\Validator\CurrencyValidator">
        <arguments>
            <argument name="config" xsi:type="object">SequraGatewayConfig</argument>
        </arguments>
    </virtualType>


</config>
