<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="SequraPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Sequra\Core\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Magento\Payment\Block\ConfigurableInfo</argument>
            <argument name="valueHandlerPool" xsi:type="object">SequraPaymentGatewayValueHandlerPool</argument>
<!--            <argument name="validatorPool" xsi:type="object">SequraPaymentGatewayValidatorPool</argument>-->
<!--            <argument name="commandPool" xsi:type="object">SequraPaymentGatewayCommandPool</argument>-->
        </arguments>
    </virtualType>

    <!-- Payment Method Value handlers configuration -->
    <virtualType name="SequraPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">SequraPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="SequraPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">SequraPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <virtualType name="SequraPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Sequra\Core\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <preference for="Sequra\Core\Api\GuestSequraPaymentMethodsInterface"
                type="Sequra\Core\Model\Api\GuestSequraPaymentMethodsService"/>
    <preference for="Sequra\Core\Api\SequraPaymentMethodsInterface"
                type="Sequra\Core\Model\Api\SequraPaymentMethodsService"/>
    <type name="Magento\PageBuilder\Model\WidgetInitializerConfig">
        <arguments>
            <argument name="config" xsi:type="array">
                <item name="Sequra_Core" xsi:type="array">
                    <!-- Name is the appearance name -->
                    <item name="default" xsi:type="array">
                        <!--required argument-->
                        <item name="component" xsi:type="string">Sequra_Core/js/content-type/sequra-core/appearance/default/widget</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <!-- CSRF -->
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="sequra_disable_form_key_validation" type="Sequra\Core\Plugin\Framework\App\Request\CsrfValidator" />
    </type>
</config>
