<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 SeQura Engineering. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="sequra" frontName="sequra">
            <module name="Sequra_Core" />
        </route>
    </router>
</config>