.checkout-payment-method .payment-method-title label img.sequra_logo {
    width:65px;
    height:42px;
    display: inline-block;
}

.sequra-educational-popup {
    color: #009C5C;
    cursor: pointer;
}

.sequra_partpayment_description {
    padding: 0 20px 20px;
    color: gray;
}
